Source: mesinput
Section: user/desktop
Priority: extra
Maintainer: Otso Virtanen <otso.virtanen@gmail.com>
Build-Depends: debhelper (>= 7)
Standards-Version: 3.8.3

Package: mesinput
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: MesInput 
 MesInput provides personal keyboards
XB-Maemo-Flags: visible
XB-Maemo-Display-Name: MesInput
XB-Maemo-Icon-26:
 iVBORw0KGgoAAAANSUhEUgAAAFAAAABQCAYAAACOEfKtAAAACXBIWXMAAAsT
 AAALEwEAmpwYAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccll
 PAAADLpJREFUeNrsXHlwFFUa/17PJOHKwSESIAnJkBsIhyGcISAKElZ0ja77
 h7srguJu1apV7CVVFtb+sVv7j7DWli6ssMpKIVCgBaLIES45JZBwbUEIEXWB
 gElghtxM7/f6mr7n9WQyQIaX+qpnet7Xr/s33++7uieE53l4MEIf7giuNR4l
 A2UMShLKKGl/CsqQEI/5A8p30usqlEaUEyg1KEcjcVGkiyywH8rjKNNRClCK
 7pKBnEU5gFKO8hVK/b0M4EMoC1BeQMm9Rxl3DmUNyieSld4TAM5CmY/y3H3m
 vr5EWYay/W4BWCSdwIT7PA4cRnkLZUdEAMT51L/9FWVhNwuo61B+Qwip7zIA
 cS6NpJs6ETXv9UGj+k8RxKNhB9Dv9y/Czd9Q4qMgvXuV47j3wwbgnTt3KHjv
 RVmO/KrL5QoKIvcAPMvxnnTtoVtgR0dHIfqDXTgnHqJ3jHe73cccA9je3t4P
 wavCz4dEMXiAGPyAGIyKiYmpd0RhVPxLN462TsYQxOIfjiwQrY+mK0cedGoU
 Y6Kbx9AKdzIB2NbWdhA3Ex8AqAHwUGxs7KSgALa2tXV767t8dAtUrF1qOydp
 aDbMenMjxUNjhXGxsTvtAWxtpSXNz7q79d2oPg7HVi2G9hafKXglr68C3hUH
 Mg4SgF/ExcXNsQQQwRuAb69HC3Vv/e88HFu9GJobrgTAG5INxa9pwdNSmff0
 6NGjxjQK+3m+jIfo+YsfnAkphXOB4iLL6Gf/AOCOQyz8FlpQpsbMresWzJO2
 0RMgEBKOmHZOrFR+IfUEtAA2NTXTNtXsaIy8agCJhJ0ZDBQbpHE+xapXr571
 GgDROGdK2+hLU/RAyWS1HhSr9VoK8/yYaKOvGYWJnQkGRokBQJxfHCn8Pt+6
 Ff789tvK+4WvvAILX36Z9hwNcyuOH4dfL1oU8lpjx42D91esMD22CCBBAInB
 /QXBocDgA9FkJ0XK/237fCtwXCABiI2NAXeMm6ZRpvxSz3U63G639bHFRA6I
 IYhYU1jyg5M0APp8vuEssNPx92XL4cKFC5CcPAgGJSfD/JdecnRBV69cgcqT
 lRpQhPzK0nN3DkDO7tiS/9MHERZX5vV6x8bHx1e4JVQzGPGD6upqqKqsFISO
 9PR0KJk+g/mCNqzfYABEyvIt11fPX/z730F2dg7zeniRQfHQWCABVluiT1lI
 AAKMYYg8ysVwnEt5v/KfK+GxWbNoA4LpgrZ/uV2jL14AJ6xsur5A4cD8nJwc
 8GRmOrLC5pYWm095YxrDhgUNuhtlC0yi3GbxgQRX41wBi7hWdw127tgBU4uL
 g+p+tX07XkyzRl9NYbP16R7NfJwbTl+tp7Ds5xjWSAqUcjxGFV462yDCobW4
 OK2s+tcHEBsTG1T38MFDik5iQoLyWomCJjro4zVrEWA7T2YB0JRywH78AgVA
 xDuBtX6kdKOUUkvdtToo373bVu/qtatw5PARYX4W+jAqsj61QF5FHU3lKVFY
 FsECw/hHiEhhWQgBizMxnlcAQJ52ZQLO0044SmHBD3Iwp7RUef3vVasxHYm1
 1Nu1Y5cy9/mfPy/6Hum9SGFzPXqm8jxhLk19Gc+VRYAnoP4TU+vgen4/n6qi
 MD+Cp4kmw4q1tbWCT6Iy+4nZyuu663XwzbFvLPXKy3cL8+IT46F4WrHi26gQ
 TnTdFggq8wRfSADCiaBciSgWqFDYWodihXopIVG4paVVoVPB6AIYNapAeb95
 0yYhadXrHDlyBH688aMwZ1pxiWCpalegjsIGqoCWwoIFhvEPiNEHMmpqKAzs
 FA7QiY45cwM0PlV1CqrPXzDo7Cnfo8wpe65M/BIIYaSwbk0C4aUwgMYCneCh
 pjCzaOiEo7CwEB4e9LCy7+O1H0MMlk/y/Ot1dVBRcVz4LDMrExPvDKGsIqrj
 SJ1eJgprqpauoDBxhiDHbrLinwtpJIusW/ZsmbLvzKkzUHPxojJ/3759ymfP
 lD0DLa0twn4xHRL320ZhAM2a4aYwMbFAJyR2M3YfTMsq2ddOmVoMa/+zFpqa
 moT969atgz8teROrk3Y4sP+AoNO7d2+YPGkyNDe3iK5AonAgkWYr5WpqaqCh
 sdH2HHNycx0n09pKJDge8uduB5m34WLEixb1Zs2eDZ99+qnw+szpM0JuePXq
 VWiorxd0Jk2eJASYjtu3AxWNCkDhO7U4B/WaK1esDHqOvXr1gnGPjMMgNxrG
 jB3Let9X187igwDIq9tZqrQ8GIAul67QEvVmPj4Tdu3apVjhF9u2IV1blflP
 Pf0UWl+zMp/QoCB9RhSALGphl8uRRdF1b968BW7U69OnN+02ObwnwoJHGCis
 NuWePXvhtz0GDmG5Rkc5Rl55fnr6MEhLS8Nc8YaqzcSxUZgnmjXpsag7sBoj
 Ro6ERx+dAQmJiUK093p9zu6JMHZjwkNh0Jp66dy5QrmmH0/OexKa0PrUcwlh
 pTCvWXPBwgWQnDzY9hw77tyB+voGdh9IjOhEiMJa2vXv3w993WQ4fPiwxh8V
 FRWBT/B9KgBdKgprqnh7CtO5rW2t4evGEN6kocpOYceJtLozYlbxjC8ar5kz
 YUIRuBCAjo472oRc1dXhgtTC6uNBmGthszSGB/ZEulMUpk5ar+fxeCArOxuq
 L1wQaV1aCrdvNxnmcawU1rX0RR8V3ns35h1pNgpLZ8bfYmmAySmJLC6BWsZ5
 U6dOET4fOHAgpKQMFZqo+jmE05VyNg1BbflIwtwQ5DW1MHHQEFRH4SpUnRIM
 9fqGBkM73kwlLz8fBgx4COaUPiFZn9m3Hrg1QF9bJ9JEs6YcJcPXkcbjg7Pb
 mkTsil82UJiFGvp2vJVO6dxSmDhxghA8zOYIFiUdi1qjbSKtWZOEmcImQYQJ
 C3JZHYUbWSOx8RajuU5uXg6C56NP+lt+i5o80OZYeh8I0LX3RJiwkBCWKVyJ
 Mpfli2WhsDza2ztsbk6pKRysFnbpLBC6Noiw1MIAlQEA0QJZbuVVVlZprOHr
 rw/CEAwSod7wNkRhJgskYX0AiuieTAiEKD6Y5Taq8kD+hN4XqoXWsBs2bITT
 p09renMffrQGLl2ssdSzE8Lp+4Hm65u19F1S+hQOMbsrx6LjlzCTb2tesorU
 rVhPrlv7CdRU12j6crKsX78RDqElOs0etP1AziZTIIZ+oNvlDlsWo0+kHdw2
 rVUonJaaUlN7+bKp2dIb5yNG5GNJVmhr0i60DlqDMlOHY6Qw0dbCy5e/a3q8
 tLRUzXu/XzwezUWnzyhhb2cR+4eL6Fz6+G96WlqFKgoLTnM/fjxVH76HDk0B
 T4aH6QGf9g52APVpjHVAIobUyWx89/33lr3BvklJmMM2OngyIWgeuF+pxlRa
 e1GmmmlaPhrWKedtjMLWT2e5Ql5H+OJtwioBi2aCDYJoZJUGANEsTwBE7hHf
 xMQEuHLlitTF6Y/W22669pChg2HJkj8qT1mFMrxer/V1ERMLtMFBitLlRgsE
 Ui5GmYjgB4XjC+H8ebHhMNzjgVv0Ii3WvnnLK0iXDN68WWp1Ln6RMQqAinPx
 pA9rQHPeQpz2t0KU+D59ICU1BfoP6A8JCfH0B44RWbcztzUlbKooViYWKOQ2
 9K7QTyJF4/z8PPB5feD1+e7erwOIeSlncz4fqt/o/ncW2Yw0/iBSNE5NTYW2
 1jap3X/X8NM8ZM7FxUNHs9/ufDZrgpT6TaYnowE110SKxlToA+bUCu8Gfam0
 9ctTqhBXQjL4kzxYPLRY0XdL1nDPJRsLFGYtQ5UXouUHN639chUKx3pKwOfz
 2tH3HUOapN+RlZlZgYDvC/e9h3tZ2iUQ3UMfgdtNzab3ZSgm2ZmZ5UEBlKa/
 ETXoobT2zRMo6sooEXJGi3lLTRN1s53ZWVkVaMbvir2x7v/X3DcX2pLHK9mA
 /vlB3H6Uk51VboaV5X+wxGL8LUwY5+ERUrv7Lzibk3LB23IduFvaZF689wGX
 8fpfs4ziduCcPfdf+lsIWqEkQhQOqUszNi8354RlrW13AKqI8L4ByvN70SPS
 Nc+3Ay+oBcrj9NlzL+JmVbT8GFuyvPkj8nJXB53LCsqpM2cpiO90ZzqrGqvz
 R+bnrWbScWJVCOIY9KqbcaW07maN0rPX3+KLpxG8E8x6ToGoPHU6CRejv5b+
 bXcBUXrSgDYJXi8YOaLRkW6oICCQGKF5pDRMu7/Bg714DUtHjxq5JyT9zlrR
 yapTJbj5Fcov7zPsPkNZFipwYQNQBST9+eeLEpAF9yholVI/bzMCVxsWC+4K
 PyaBWSLJaJS7RfO99HRQqJXtQdAaw+4CIhUIEFQK5DAJ0CRpC9K+tBAP+y2K
 bEkUqEZpW4tgnYyID33wPwI7N/4vwACAkKhY+dNIQgAAAABJRU5ErkJggg==
